@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: #f36458;
}
* {
  font-family: "Noto Sans Meetei Mayek", serif !important;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: gray black;
  padding: 0 !important;
  overflow: auto !important;
}

body {
  overflow-x: hidden !important;
  print-color-adjust: economy;
}

@media (max-width: 650px) {
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    scrollbar-width: none;
  }
}

#layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.d-none {
  display: none !important;
}
